*.out
*.snm
*.nav
*.bbl
*.dvi
*.pdf
*.log
*.ps
*.aux
*.*~
*.toc
*.blg
*.swap
*.tex.backup
Makefile~
*.loa
*.lof
*.lot
*.zip
*.tar.gz
*.tar.bz2
*.vrb
vc.tex
*.swp
results/*/*.dat
*~
*.o
make.inc
build/*
doc/*
test/test
test/helloworld
test/helloworld.c
mpi-helloworld
*.sqlite
lib/sqlite-amalgamation-*/sqlite3
